@import "tailwindcss";

@theme {
  --color-blue-primary: #0500FF;
  --color-blue-10: #EDEFFB;
  --color-black-01: #1C1C1C;
  --color-gray-20: #9E9E9E;
  --color-gray-10: #DFDFDF;
  --color-gray-05: #F5F5F5;
  --color-gray-00: #F0F0F0;
  container:{
    center: true;
    padding: {
      DEFAULT: '.5rem'
      sm: '1rem'
      lg: '2rem'
    }
  }
}
